In [0]:
from pyspark import *
from pyspark.sql import SparkSession, Window
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, DateType, TimestampType, LongType
from pyspark.sql.types import ArrayType, DoubleType, BooleanType, DecimalType
from pyspark.sql.functions import regexp_extract, split, from_unixtime, col, avg, min, max, desc
from pyspark.sql.functions import grouping, explode, array_contains, struct, collect_list, row_number

# Transformaciones con Tipos de Datos Complejos: Arrays, Structs y Maps

En este notebook:
- Trabajaremos con columnas tipo array y struct a partir del dataset MovieLens.
- Aplicaremos funciones como `explode`, y crearemos structs de varias columnas.

In [0]:
# Tabla Ratings
ratings_schema  = StructType(fields=[
    StructField("userId",IntegerType(),True), 
    StructField("movieId",IntegerType(),True),
    StructField("rating",DecimalType(precision=2,scale=1),True),
    StructField("timestamp",LongType(),True)
])
ratingsDf = spark.read\
    .option("header", True)\
    .option("dateFormat", "yyyyMMdd")\
    .schema(ratings_schema)\
    .csv("dbfs:/FileStore/tables/ratings.csv")\
    .withColumn(\
            "date",\
            from_unixtime("timestamp", "yyyyMMdd"))\
                .drop('timestamp')

# Tabla Movies
movies_schema  = StructType(fields=[
    StructField("movieId",IntegerType(),True), 
    StructField("title",StringType(),True),
    StructField("genres",StringType(),True)
])

moviesDf = spark.read\
    .option("header", True)\
    .schema(movies_schema)\
    .csv("dbfs:/FileStore/tables/movies.csv")

moviesDf = moviesDf.withColumn("genresSplit", split(moviesDf["genres"],"\|"))\
                        .drop('genres').withColumnRenamed("genresSplit","genres")\
                            .withColumn(\
                                "year",\
                                regexp_extract(\
                                           moviesDf["title"],\
                                           "^.+\(([0-9]+)\)$",\
                                           1)\
                                .cast(IntegerType()))\
                            .withColumn(\
                            "title_temp",\
                            regexp_extract(\
                                           moviesDf["title"],\
                                           "^(.+?) \([0-9]+\)$",\
                                           1))\
                            .drop('title')\
                        .withColumnRenamed("title_temp","title")

In [0]:
# Agrupar calificaciones por usuario (array de movieIds)
user_movies = ratingsDf.groupBy("userId").agg(collect_list("movieId").alias("peliculas_calificadas"))
user_movies.show(5, truncate=False)

+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|userId|peliculas_calificadas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1     |[1, 3, 6, 47, 50, 70, 101, 110, 151, 157, 163, 216, 223, 231, 235, 260, 296, 316, 333, 349, 356, 362, 367, 423, 441, 457, 480, 500, 527, 543, 552, 553, 590, 592, 593, 596, 608, 648, 661, 673, 733, 736, 780, 804, 919, 923, 940, 943, 954, 1009, 1023, 1024, 1025, 1029, 1030, 1031, 1032, 1042, 1049, 1060, 1073, 1080, 1089, 1090, 1092, 1097, 1127, 1136, 1196, 1197, 1198, 1206, 1208, 1210, 1213, 1214, 1219, 1220, 1222, 1224, 1226, 1240, 1256, 1258, 1265, 1270, 1275, 1278, 1282, 1291, 1298, 1348, 1377, 1396, 1408, 1445, 1473, 1500, 1517, 1552, 1573, 1580, 1587, 1617, 1620, 1625, 1644, 1676, 1732, 1777, 1793, 1804, 1805, 1920, 1927, 1954, 1967, 2000, 2005, 2012, 2018, 2028, 2033, 2046, 2048, 2054, 2058, 2078, 2090, 2093, 2094, 2096, 2099, 2105, 2115, 2116, 2137, 2139, 2141, 2143, 2161, 2174, 2193, 2253, 2268, 2273, 2291, 2329, 2338, 2353, 2366, 2387, 2389, 2395, 2406, 2414, 2427, 2450, 2459, 2470, 2478, 2492, 2502, 2528, 2529, 2542, 2571, 2580, 2596, 2616, 2617, 2628, 2640, 2641, 2644, 2648, 2654, 2657, 2692, 2700, 2716, 2761, 2797, 2826, 2858, 2872, 2899, 2916, 2944, 2947, 2948, 2949, 2959, 2985, 2987, 2991, 2993, 2997, 3033, 3034, 3052, 3053, 3062, 3147, 3168, 3176, 3243, 3247, 3253, 3273, 3386, 3439, 3440, 3441, 3448, 3450, 3479, 3489, 3527, 3578, 3617, 3639, 3671, 3702, 3703, 3729, 3740, 3744, 3793, 3809, 4006, 5060]|
|2     |[318, 333, 1704, 3578, 6874, 8798, 46970, 48516, 58559, 60756, 68157, 71535, 74458, 77455, 79132, 80489, 80906, 86345, 89774, 91529, 91658, 99114, 106782, 109487, 112552, 114060, 115713, 122882, 131724]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
|3     |[31, 527, 647, 688, 720, 849, 914, 1093, 1124, 1263, 1272, 1275, 1302, 1371, 1587, 2018, 2080, 2090, 2105, 2288, 2424, 2851, 3024, 3210, 3703, 3949, 4518, 5048, 5181, 5746, 5764, 5919, 6238, 6835, 7899, 7991, 26409, 70946, 72378]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
|4     |[21, 32, 45, 47, 52, 58, 106, 125, 126, 162, 171, 176, 190, 215, 222, 232, 235, 247, 260, 265, 296, 319, 342, 345, 348, 351, 357, 368, 417, 441, 450, 457, 475, 492, 509, 538, 539, 553, 588, 593, 595, 599, 608, 648, 708, 759, 800, 892, 898, 899, 902, 904, 908, 910, 912, 914, 919, 920, 930, 937, 1025, 1046, 1057, 1060, 1073, 1077, 1079, 1080, 1084, 1086, 1094, 1103, 1136, 1179, 1183, 1188, 1196, 1197, 1198, 1199, 1203, 1211, 1213, 1219, 1225, 1250, 1259, 1265, 1266, 1279, 1282, 1283, 1288, 1291, 1304, 1391, 1449, 1466, 1500, 1517, 1580, 1597, 1617, 1641, 1704, 1719, 1732, 1733, 1734, 1834, 1860, 1883, 1885, 1892, 1895, 1907, 1914, 1916, 1923, 1947, 1966, 1967, 1968, 2019, 2076, 2078, 2109, 2145, 2150, 2174, 2186, 2203, 2204, 2282, 2324, 2336, 2351, 2359, 2390, 2395, 2406, 2467, 2571, 2583, 2599, 2628, 2683, 2692, 2712, 2762, 2763, 2770, 2791, 2843, 2858, 2874, 2921, 2926, 2959, 2973, 2997, 3033, 3044, 3060, 3079, 3083, 3160, 3175, 3176, 3204, 3255, 3317, 3358, 3365, 3386, 3408, 3481, 3489, 3508, 3538, 3591, 3788, 3809, 3851, 3897, 3911, 3967, 3996, 4002, 4014, 4020, 4021, 4027, 4029, 4033, 4034, 4074, 4121, 4144, 4166, 4226, 4239, 4246, 4252, 4260, 4273, 4308, 4347, 4381, 4641, 4741, 4765, 4881, 4896, 4902, 4967]                                                                                                        |
|5     |[1, 21, 34, 36, 39, 50, 58, 110, 150, 153, 232, 247, 253, 261, 265, 266, 290, 296, 300, 316, 318, 344, 349, 357, 364, 367, 380, 410, 457, 474, 475, 515, 527, 531, 534, 588, 589, 590, 592, 594, 595, 596, 597, 608]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |
+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [0]:
# Explode: expandir para tener una fila por usuario/película
user_movies_exploded = user_movies.withColumn("pelicula_id", explode(col("peliculas_calificadas")))
user_movies_exploded.show(5)

+------+---------------------+-----------+
|userId|peliculas_calificadas|pelicula_id|
+------+---------------------+-----------+
|     1| [1, 3, 6, 47, 50,...|          1|
|     1| [1, 3, 6, 47, 50,...|          3|
|     1| [1, 3, 6, 47, 50,...|          6|
|     1| [1, 3, 6, 47, 50,...|         47|
|     1| [1, 3, 6, 47, 50,...|         50|
+------+---------------------+-----------+
only showing top 5 rows

In [0]:
# Struct: juntar nombre y género de la película
movies_struct = moviesDf.withColumn("info", struct("title", "genres"))
movies_struct.select("movieId", "info").show(5, truncate=False)

+-------+--------------------------------------------------------------+
|movieId|info                                                          |
+-------+--------------------------------------------------------------+
|1      |{Toy Story, [Adventure, Animation, Children, Comedy, Fantasy]}|
|2      |{Jumanji, [Adventure, Children, Fantasy]}                     |
|3      |{Grumpier Old Men, [Comedy, Romance]}                         |
|4      |{Waiting to Exhale, [Comedy, Drama, Romance]}                 |
|5      |{Father of the Bride Part II, [Comedy]}                       |
+-------+--------------------------------------------------------------+
only showing top 5 rows

In [0]:
# BONUS: Crear columna tipo map (clave=movieId, valor=rating) para cada usuario
from pyspark.sql.functions import create_map, lit
# Ejemplo sencillo: para cada usuario, tomar sus primeras 3 calificaciones y armar el map
sample = ratingsDf.filter(col("userId") == 1).limit(3)
sample_map = sample.withColumn("movie_rating_map", create_map(col("movieId"), col("rating")))
sample_map.show()

+------+-------+------+--------+----------------+
|userId|movieId|rating|    date|movie_rating_map|
+------+-------+------+--------+----------------+
|     1|      1|   4.0|20000730|      {1 -> 4.0}|
|     1|      3|   4.0|20000730|      {3 -> 4.0}|
|     1|      6|   4.0|20000730|      {6 -> 4.0}|
+------+-------+------+--------+----------------+

In [0]:
# Tomemos los 3 primeros ratings de cada usuario para simplicidad
w = Window.partitionBy("userId").orderBy("date")
ratings_sample = ratingsDf.withColumn("rn", row_number().over(w)).filter(col("rn") <= 3)

# Para cada usuario, agrupamos las (movieId, rating) en una lista de pares
user_pairs = ratings_sample.groupBy("userId").agg(collect_list(struct("movieId", "rating")).alias("peliculas_ratings"))

# Convertimos la lista de structs a una columna Map
from pyspark.sql.functions import map_from_entries

user_map = user_pairs.withColumn("mapa_ratings", map_from_entries(col("peliculas_ratings")))

# Mostramos el resultado: ahora para cada usuario hay un Map movieId->rating
user_map.select("userId", "mapa_ratings").show(truncate=False)

+------+--------------------------------------+
|userId|mapa_ratings                          |
+------+--------------------------------------+
|1     |{1 -> 4.0, 3 -> 4.0, 6 -> 4.0}        |
|2     |{318 -> 3.0, 333 -> 4.0, 1704 -> 4.5} |
|3     |{31 -> 0.5, 527 -> 0.5, 647 -> 0.5}   |
|4     |{162 -> 5.0, 171 -> 3.0, 190 -> 2.0}  |
|5     |{1 -> 4.0, 21 -> 4.0, 34 -> 4.0}      |
|6     |{2 -> 4.0, 3 -> 5.0, 4 -> 3.0}        |
|7     |{1 -> 4.5, 50 -> 4.5, 58 -> 3.0}      |
|8     |{2 -> 4.0, 10 -> 2.0, 11 -> 4.0}      |
|9     |{41 -> 3.0, 187 -> 3.0, 223 -> 4.0}   |
|10    |{296 -> 1.0, 356 -> 3.5, 588 -> 4.0}  |
|11    |{356 -> 5.0, 1101 -> 5.0, 1840 -> 4.0}|
|12    |{39 -> 4.0, 168 -> 5.0, 222 -> 5.0}   |
|13    |{305 -> 1.0, 597 -> 3.0, 1173 -> 3.0} |
|14    |{4 -> 3.0, 7 -> 3.0, 19 -> 1.0}       |
|15    |{44 -> 1.0, 158 -> 1.0, 172 -> 1.0}   |
|16    |{47 -> 3.5, 50 -> 4.0, 111 -> 4.5}    |
|17    |{1 -> 4.5, 44 -> 3.5, 50 -> 4.5}      |
|18    |{47 -> 4.5, 50 -> 5.0, 110 -> 4.5}    |
|19    |{1 -> 4.0, 2 -> 3.0, 3 -> 3.0}        |
|20    |{2 -> 3.0, 8 -> 1.0, 13 -> 4.0}       |
+------+--------------------------------------+
only showing top 20 rows

In [0]:
# --- USO DEL MAP ---
user_map_con_valor = user_map.withColumn("rating_pelicula_1", col("mapa_ratings").getItem(lit(1)))
user_map_con_valor.select("userId", "mapa_ratings", "rating_pelicula_1").show()

+------+--------------------+-----------------+
|userId|        mapa_ratings|rating_pelicula_1|
+------+--------------------+-----------------+
|     1|{1 -> 4.0, 3 -> 4...|              4.0|
|     2|{318 -> 3.0, 333 ...|             null|
|     3|{31 -> 0.5, 527 -...|             null|
|     4|{162 -> 5.0, 171 ...|             null|
|     5|{1 -> 4.0, 21 -> ...|              4.0|
|     6|{2 -> 4.0, 3 -> 5...|             null|
|     7|{1 -> 4.5, 50 -> ...|              4.5|
|     8|{2 -> 4.0, 10 -> ...|             null|
|     9|{41 -> 3.0, 187 -...|             null|
|    10|{296 -> 1.0, 356 ...|             null|
|    11|{356 -> 5.0, 1101...|             null|
|    12|{39 -> 4.0, 168 -...|             null|
|    13|{305 -> 1.0, 597 ...|             null|
|    14|{4 -> 3.0, 7 -> 3...|             null|
|    15|{44 -> 1.0, 158 -...|             null|
|    16|{47 -> 3.5, 50 ->...|             null|
|    17|{1 -> 4.5, 44 -> ...|              4.5|
|    18|{47 -> 4.5, 50 ->...|             null|
|    19|{1 -> 4.0, 2 -> 3...|              4.0|
|    20|{2 -> 3.0, 8 -> 1...|             null|
+------+--------------------+-----------------+
only showing top 20 rows

In [0]:
# Puedes filtrar por los usuarios que hayan calificado la película 1 con rating mayor o igual a 4
user_map_con_valor.filter(col("rating_pelicula_1") >= 4).select("userId", "rating_pelicula_1").show()

+------+-----------------+
|userId|rating_pelicula_1|
+------+-----------------+
|     1|              4.0|
|     5|              4.0|
|     7|              4.5|
|    17|              4.5|
|    19|              4.0|
|    31|              5.0|
|    40|              5.0|
|    43|              5.0|
|    46|              5.0|
|    57|              5.0|
|    63|              5.0|
|    64|              4.0|
|    71|              5.0|
|    73|              4.5|
|    78|              4.0|
|    91|              4.0|
|    96|              5.0|
|    98|              4.5|
|   103|              4.0|
|   107|              4.0|
+------+-----------------+
only showing top 20 rows